html {
  height: 100%;
  width: 100%;
  
}
footer{
  background-image: url("../images/huron_river.JPG");
  height: 200px; /* You must set a specified height */
  
  /* Center the image */
  /* background-position: center;  */
  
  /* Do not repeat the image */
  /* background-repeat: no-repeat;  */
   
  /* Resize the background image to cover the entire container */
  /* background-size: cover; */
  
  opacity: .5;
  
}
p{
  text-align: center;
  font-size: 200%;
}
